
body {
    background: blue; 
    color: #fcbe24;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer-slider-container {
    overflow: hidden;
}

.slider-container {
    display: flex;

    align-items: center;
    justify-content: center;

    will-change: transform;
}

.arrows {
    display: none;
}

.event-item-list {
    display: grid;
    grid-template-columns: repeat(8, 50%); 

    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    order: 1;
}


.carousel-item {
    position: relative;
    padding: 0;

    height: 100%;
    width: 100%;
}

.event-item-list {
    display: grid;
    grid-template-columns: repeat(8, 50%); 

    width: 100%;

    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 640px) and (max-width: 1023px) { 
    .event-item-list {
        grid-template-columns: repeat(12, 25%); 
    }

    .arrows {
        display: block;
        position: absolute;
   
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);

        cursor: pointer;
        font-size: 4rem;
        color: rgb(37, 150, 190);
    }

    .arrows:hover {
        transform: translateY(-50%) scale(1.3);
        transition: transform 0.2s ease-in-out; 
    }

    .left {
        left: 2%;
    }

    .right {
        right: 2%;
    }
}

@media (min-width: 1024px) {
    .event-item-list {
        grid-template-columns: repeat(12, calc(100% / 6)); 
    }

    .arrows {
        display: block;
        position: absolute;
   
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);

        cursor: pointer;
        font-size: 3.5rem;
        color: rgb(37, 150, 190);
    }

    .arrows:hover {
        transform: translateY(-50%) scale(1.3);
        transition: transform 0.2s ease-in-out; 
    }

    .left {
        left: 2%;
    }

    .right {
        right: 2%;
    }
}